* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: center;
    font-size: medium;    
}

a {
    text-decoration: none;
    text-align: center;
}


body {
    background-image: url('../images/pexels.jpg');
    background-repeat: no-repeat;
    background-position: center fixed;
    background-size: cover;
    min-height: 1050px;
    padding-left: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-menu {
    width: 10rem;
    background-color: black;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.main-menu_top {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mein-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.main-menu_top .mein-logo span{
    font-size: 1.6rem;
}

.main-menu_top span{
    font-size: 1.0rem;
}


.main-menu_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fd7171;
}

.main-menu_nav a {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.2rem;
    color: #7a7474;
    line-height: 3rem;
    border-bottom: 1px solid #fd7171;
    transition: color 0.2s, background-color 0.3s;
}

.main-menu_top{
    display: flex;
    flex-direction: column;
}

.social-media {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 15rem;
    
    padding: 5px;
    
}

.social-media li {
    text-align: center;
}

.social-media li a {
    padding: 2rem 7px;
}

#section-about {
    display: flex;
    flex-direction: column-reverse;
    padding: 9rem 3rem;
    width: 50%;
}

.scroll-down {
    position: absolute;
    font-size: 15px;
    bottom: 3rem;

    
}
.scroll-down span {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(77, 151, 211);
    
}

.text-area header{
    padding-bottom: 1rem;
}

#info {
    padding-top: 5rem;
    color:pink;
}
